<% wrap_layout :layout do %>
  <% drop_title(current_article.title) %>

  <article class="panel panel-default article">
    <div class="panel-heading">
      <h1 class="panel-title"><%= current_article.title %></h1>

      <%= render_article_meta(current_article) %>
    </div>

    <div class="panel-body">
      <div class="article-body">
        <%= current_article.body %>
      </div>
      
      <%= render_article_tags(current_article) %>
    </div>
    
    <div class="panel-footer">
      <%= disqus %>
    </div>
  </article>
<% end %>