<% wrap_layout :layout do %>
  <article class="article">
    <section class="article-header">
      <h1 class="article-title"><%= current_article.title %></h1>

      <%= render_article_meta(current_article) %>
    </section>

    <section class="article-content">
      <div class="yue">
        <%= current_article.body %>
      </div>
      
      <%= render_article_tags(current_article) %>
    </section>
    
    <section class="article-footer">
      <%= disqus %>
    </section>
  </article>
<% end %>