<% wrap_layout :layout do %>
  <% set_meta_tags title: current_article.title,
                   description: current_article.description,
                   keywords: current_article.tags.join(', ') %>

  <% if current_article.data.cover %>
    <div class="article-cover" style="display: none;">
      <img src="<%= current_article.data.cover %>" />
    </div>
  <% end %>

  <div class="page-article">
    <article class="panel panel-default article">
      <div class="panel-heading">
        <h1 class="panel-title article-title"><%= current_article.title %></h1>

        <%= render_article_meta(current_article) %>
      </div>

      <div class="panel-body">
        <div class="article-content">
          <%= current_article.body %>
        </div>

        <%= render_article_tags(current_article) %>
      </div>
      
      <div class="panel-footer">
        <%= disqus %>
      </div>
    </article>
  </div>
<% end %>