<% wrap_layout :layout do %>
  <article>
    <header>
      <h1><%= link_to current_article.title, current_article %></h1>

      发布于 <time datetime="<%= current_article.date.strftime('%b %e') %>"><%= current_article.date.strftime('%b %e') %></time>
      <span>
    </header>

    <%= yield %>
    
    <footer>
      <% current_article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag), class: 'tag' %>
      <% end %>
    </footer>
  </article>
<% end %>