<% wrap_layout :layout do %>
  <article class="single">
    <header>
      <h1><%= current_article.title %></h1>

      <div class="meta pull-right">
        <a href="#disqus_thread">
          <span class="icon-comment"></span> 发表评论
        </a>
      </div>

      <div class="meta">
        <span class="icon-clock"></span>
        <time datetime="<%= current_article.date.strftime('%b %e') %>"><%= current_article.date.strftime('%b %e') %></time>
      </div>

      <div class="meta">
        <span class="icon-tag"></span>
        <% current_article.tags.each do |tag| %>
          <%= link_to tag, tag_path(tag) %>
        <% end %>
      </div>
    </header>

    <div class="content">
      <%= current_article.body %>
    </div>
    
    <footer>
      <%= disqus %>
    </footer>
  </article>


<% end %>