<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag 'all' %>
  </head>
  <body>
    <%= partial 'header' %>

    <div class="outer">
      <%= yield %>

      <% if paginate %>
        <nav>
          <ul class="pager">
            <% if prev_page %>
              <li class="previous"><a href="<%= prev_page.url %>">&larr; 上一页</a></li>
            <% end %>
          
            <% if next_page %>
              <li class="next"><a href="<%= next_page.url %>">下一页 &rarr;</a></li>
            <% end %>
          </ul>
        </nav>
      <% end %>
    </div>

    <%= javascript_include_tag 'all' %>
  </body>
</html>
