<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= yield_content(:title) %>Ask and Learn</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag 'all' %>
  </head>
  <body>
    <%= partial 'header' %>

    <div class="outer">
      <%= yield %>

      <% if paginate %>
      <div class="paginator">
        <a href="<%= prev_page.url rescue '#' %>" class="btn btn-default">&laquo; 上一页</a>
        <a href="<%= next_page.url rescue '#' %>" class="btn btn-default">下一页 &raquo;</a>
      </div>
      <% end %>
    </div>

    <%= partial 'footer' %>

    <%= javascript_include_tag 'all' %>
    <%= google_analytics_tag %>
  </body>
</html>
