<article class="panel panel-default article">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to article.title, article %></h3>
  </div>

  <div class="panel-body">
    <% if article.data.cover %>
      <div class="article-cover">
        <img src="<%= article.data.cover %>" />
      </div>
    <% end %>

    <div class="article-summary">
      <%= render_article_summary(article) %>
    </div>

    <%= link_to '阅读全文…', article, class: 'btn-more' %>
  </div>

  <div class="panel-footer">
    <%= render_article_meta(article) %>
  </div>
</article>
