<article>
  <header>
    <h3><%= link_to article.title, article %></h3>
  </header>

  <div class="content">
    <div class="summary">
      <%= article.summary %>
    </div>

    <%= link_to '阅读全文…', article %>
  </div>

  <footer>
    <div class="meta pull-right">
      <a href="<%= article.url %>#disqus_thread">
        <span class="icon-comment"></span> 发表评论
      </a>
    </div>

    <div class="meta">
      <span class="icon-clock"></span>
      <time datetime="<%= article.date.strftime('%b %e') %>"><%= article.date.strftime('%b %e') %></time>
    </div>

    <div class="meta">
      <span class="icon-tag"></span>
      <% article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %>
    </div>
  </footer>
</article>
